body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    margin-top: 50px;
    align-content: center;
}
img{
    width: 200px;
    height: auto;
    border: solid;
    border-radius: 10px;


}
p{
    width: 200px;
    
}
button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #df0303;
    color: #ffffff;
    font-family: 'VT323', monospace;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}
form{
    margin-top: 20px;
}
#giphy-view{
    padding: 0;
}
div {
  display: flex;  
  flex-wrap: wrap;
}
.positioning{
    width: 200px;
    position: relative;
    margin: 5px;

    
}
.container{
    margin:auto;
    background-color: #a8a3a3;
    width: 60%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    display: block;
}
#buttons-view{
    display: block;

}
#title{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border: none;
    border-bottom: solid;
    border-bottom-width: 10px;
    border-radius: 0px;

}
#catch{
    font-family: 'VT323', monospace;
    font-size: 35px;
}

#add-giphy{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: #faec23;
    border-radius: 5px;
    margin-bottom: 30px;
}